<script>
$(document).ready(function() {
  var bgCanvas = document.getElementById('bgCanvas');
  function render() { 
    bgCanvas.patternizer({
      stripes : [
          {
          color: '#000000',
          rotation: 76,
          opacity: 22,
          mode: 'plaid',
          width: 104,
          gap: 104,
          offset: 0
        },
        {
          color: '#232323',
          rotation: 76,
          opacity: 59,
          mode: 'plaid',
          width: 15,
          gap: 2,
          offset: 0
        },
        {
          color: '#262626',
          rotation: 76,
          opacity: 43,
          mode: 'plaid',
          width: 2,
          gap: 4,
          offset: 0
        },
        {
          color: '#897f78',
          rotation: 70,
          opacity: 87,
          mode: 'normal',
          width: 1,
          gap: 2,
          offset: 0
        },
        {
          color: '#6d6d7f',
          rotation: 300,
          opacity: 100,
          mode: 'normal',
          width: 2,
          gap: 2,
          offset: 0
        }
      ],
      bg : '#999999'
    
    });
  }
  
  // resize the canvas to the window size
  function init() {
   
    // number of pixels of extra canvas drawn
    var buffer = 100;
   
    // if extra canvas size is less than the buffer amount
    if (bgCanvas.width - window.innerWidth < buffer ||
      bgCanvas.height - window.innerHeight < buffer) {
   
      // resize the canvas to window plus double the buffer
      bgCanvas.width = window.innerWidth + (buffer * 2);
      bgCanvas.height = window.innerHeight + (buffer * 2);
   
      render();
    }   
   
  }
   
   
  init();


  // Image load fade-in
  var imgobj = new Image();
  imgobj.src = "/assets/<%= @question.local_url.downcase %>.jpg" ;
  $(imgobj).load(function() {
    // Opening effects
    $("#question_div").delay(1000).animate({
      bottom : 0  
    }, 800);
    $("#question_label").delay(500).animate({
      bottom : 0  
    }, 800).delay(2000).fadeOut(2000);

    $("#satellite_img").fadeIn(1000);
  });


  // Manual info effect
  $("#manual_trigger").mouseenter(function() {
    $("#manual_howto").stop().animate({
      left: '0px'
    }, 600);
  }).mouseout(function() {
    $("#manual_howto").stop().animate({
      left: '-260px'
    }, 600);
  })


  // Handle disabling  and styling the submit button
  $("input:radio").click(function() { // If we click a radio button's label
    if (!$("input[name='html_elements']:checked").val()) {
      $("#question_div label").attr("style","")
      $(this).parent().attr("style","background: #8FBD06")
      $(this).siblings(".a_title").attr("style","color: #FFF")
      $("#submit_button").removeAttr("disabled")
      $("#submit_button").attr("class","submit_enabled")    
    } else {

    }
  });


  // Node Hint-Showing
  $(".node").mouseenter(function() {
    var indexno = $(this).attr("id").split("_").pop()
    $("#node_hint_"+indexno).stop().animate({
      right : "30px"
    },200);
  }).mouseleave(function() {
    $(".node_hint").stop().animate({
      right : "-160px"
    }, 200)
  });

  // Node staggered loading

  var node_count = <%= @facts_array.length %>
  
  // Load the first one immediately
  if (node_count > 0) {
    $("#node_0").fadeIn(250);
  }

  // Load subsequent ones
  if (node_count > 1) {
    for (i=1;i<node_count;i++) {
      delay_amount = 250 * i;
      $("#node_"+i).delay(delay_amount).fadeIn(250)
    }
  }



  
});

</script>


<!-- Background pattern -->
<canvas id="bgCanvas"></canvas>

<!-- MAIN IMAGE -->
<div id="satellite_img" style="background-image:url(/assets/<%= @question.local_url.downcase %>.jpg); display: none;"></div>



<div id="logo"><%= image_tag "earthy_corner_cutout.png" %></div>

<div id="status_bar">
  <strong>Playing as <span class="player_name"><%= @name %></span></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Round <%= @rounds %>, Question <%=@question_number%> of <%=@round_qs%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="restart_game"><%= link_to "Restart game", questions_path, class: "restart_game" %></a>
</div>

<div id="manual_howto">
  <h3>How To Play</h3>
  <p>Your mission is to identify the region shown in this NASA satellite image. Select the corresponding region from the 4 choices at the bottom of the screen, and click 'Lock in' to confirm your selection. </p>
</div>

<div id="manual_trigger">i</div>

<div id="question_label">
    <h2>Identify this region.</h2>
</div> 


<% @facts_array.each_with_index do |fact, index| %>
<div class="node" id="node_<%= index %>" style="left: <%= @facts_coords[index][0]  %>%; top: <%= @facts_coords[index][1]  %>%"><div class="node_pulsor"></div></div>
<div class="node_hint" id="node_hint_<%= index %>">
  <h4>Hint</h4>
  <%= fact %>
</div>
<% end %>


<%= form_tag("/questions", :method => :post) do %>
  
  <div id="question_div">

    <div id="a1">     
        <label>
          <span class="a_title"><%= @choice1[0] %></span><br>
          <span class="a_subtitle"><%= @choice1[1] %></span>
          <input type="radio" name="answer" id="radio_answer_1" value="1">
        </label>
      </div>
      <div id="a2">
        <label>
          <span class="a_title"><%= @choice2[0] %></span><br>
          <span class="a_subtitle"><%= @choice2[1] %></span>
          <input type="radio" name="answer" id="radio_answer_2" value="2">
        </label>
      </div>
      <div id="a3">
        <label>
          <span class="a_title"><%= @choice3[0] %></span><br>
          <span class="a_subtitle"><%= @choice3[1] %></span>
          <input type="radio" name="answer" id="radio_answer_3" value="3">
        </label>
      </div>
      <div id="a4">
        <label>
          <span class="a_title"><%= @choice4[0] %></span><br>
          <span class="a_subtitle"><%= @choice4[1] %></span>
          <input type="radio" name="answer" id="radio_answer_4" value="4">
        </label>
      </div>
      <div id="submit_div">
        <input type="hidden" name="player_name" value="<%= @name %>">
        <input type="hidden" name="question_id" value="<%= @question.id %>">
        <input type="submit" id="submit_button" value="Lock In" class="submit_disabled" disabled>
      </div>
  </div>
<% end %>
  
<!-- Side gradients -->
<div id="gradient-left"></div>
<div id="gradient-right"></div>
<div id="gradient-bottom"></div>
