<script>
$(document).ready(function() {
  var bgCanvas = document.getElementById('bgCanvas');
  function render() { 
    bgCanvas.patternizer({
      stripes : [
          {
          color: '#000000',
          rotation: 76,
          opacity: 22,
          mode: 'plaid',
          width: 104,
          gap: 104,
          offset: 0
        },
        {
          color: '#232323',
          rotation: 76,
          opacity: 59,
          mode: 'plaid',
          width: 15,
          gap: 2,
          offset: 0
        },
        {
          color: '#262626',
          rotation: 76,
          opacity: 43,
          mode: 'plaid',
          width: 2,
          gap: 4,
          offset: 0
        },
        {
          color: '#897f78',
          rotation: 70,
          opacity: 87,
          mode: 'normal',
          width: 1,
          gap: 2,
          offset: 0
        },
        {
          color: '#6d6d7f',
          rotation: 300,
          opacity: 100,
          mode: 'normal',
          width: 2,
          gap: 2,
          offset: 0
        }
      ],
      bg : '#999999'
    
    });
  }
  
  // resize the canvas to the window size
  function init() {
   
    // number of pixels of extra canvas drawn
    var buffer = 100;
   
    // if extra canvas size is less than the buffer amount
    if (bgCanvas.width - window.innerWidth < buffer ||
      bgCanvas.height - window.innerHeight < buffer) {
   
      // resize the canvas to window plus double the buffer
      bgCanvas.width = window.innerWidth + (buffer * 2);
      bgCanvas.height = window.innerHeight + (buffer * 2);
   
      render();
    }   
   
  }
   
   
  init();



  




  
});

</script>
<!-- Background pattern -->
<canvas id="bgCanvas"></canvas>

<!-- Facebook and twitter sharing integration -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- MAIN IMAGE -->
<div id="start_img" style="background-image:url(/assets/chilikalake_ali_cropped.jpg);"></div>





<div id="summary_container">


  <h2 class="summary_header" style="color: #769C05"><%= @congratulations %></h2>

  <div id="summary_details">
    <table class="summary_table">
      
      <% @questions_array.each_with_index do | question_hash, index | %>
        <tr>
          <% answer_object = Question.find(question_hash.keys.first) %>
          <% right_answer_title = answer_object.location_title %>
          <% right_answer_subtitle = answer_object.subtitle %>
          <% right_answer_link = answer_object.image_url %>
          <% question_hash.values.first ? linkcolor = '#8FBD06' : linkcolor = '#A81F00' %>

          <td><span class="summary_qno"><%= index + 1 %></span></td>
          <td style="text-align: left;">
            <strong>
            <%= link_to right_answer_title, right_answer_link, :target => "_blank", :style => "color: #{linkcolor}" %>
            </strong>
          </td>
          <td class="summary_subtitle"><%= right_answer_subtitle %></td>
        </tr>
      <% end %>  
    </table>
    <div class="summary_score">
      <div id="score_fraction">
        <div class="numerator"><%= @right_answers %></div>
        <div class="denominator"><%= @round_qs %></div>
        <div class="divider_symbol">/</div>
      </div>

    </div>
  </div>

  
  <p class="start_new_game"><%= form_tag(questions_ask_path, method: :post, class: "new_game_form") do %>
      <input type="hidden" name="name" value="<%= @name %>">
      <input type="hidden" name="newround" value="true">
      <%= submit_tag "Start Next Round", :class => "new_game_button" %>
  <% end %>

<div class="social-media">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://earthy.herokuapp.com/" data-hashtags="earthy">Tweet</a>

  <div class="fb-share-button" data-href="https://earthy.herokuapps.com" data-type="button_count"></div>
</div>

  <p class="additional_resources"><strong>Interested in satellite images?</strong> <br>
  There are thousands of incredible earth shots at <a href="http://visibleearth.nasa.gov/" style="color: #31BFEB">NASA's Visible Earth</a>.
  </p>

</div>

  
<!-- Side gradients -->
<div id="gradient-left"></div>
<div id="gradient-right"></div>
<div id="gradient-bottom"></div>
