<script>
$(document).ready(function() {
  var bgCanvas = document.getElementById('bgCanvas');
  function render() { 
    bgCanvas.patternizer({
      stripes : [
          {
          color: '#000000',
          rotation: 76,
          opacity: 22,
          mode: 'plaid',
          width: 104,
          gap: 104,
          offset: 0
        },
        {
          color: '#232323',
          rotation: 76,
          opacity: 59,
          mode: 'plaid',
          width: 15,
          gap: 2,
          offset: 0
        },
        {
          color: '#262626',
          rotation: 76,
          opacity: 43,
          mode: 'plaid',
          width: 2,
          gap: 4,
          offset: 0
        },
        {
          color: '#897f78',
          rotation: 70,
          opacity: 87,
          mode: 'normal',
          width: 1,
          gap: 2,
          offset: 0
        },
        {
          color: '#6d6d7f',
          rotation: 300,
          opacity: 100,
          mode: 'normal',
          width: 2,
          gap: 2,
          offset: 0
        }
      ],
      bg : '#999999'
    
    });
  }
  
  // resize the canvas to the window size
  function init() {
   
    // number of pixels of extra canvas drawn
    var buffer = 100;
   
    // if extra canvas size is less than the buffer amount
    if (bgCanvas.width - window.innerWidth < buffer ||
      bgCanvas.height - window.innerHeight < buffer) {
   
      // resize the canvas to window plus double the buffer
      bgCanvas.width = window.innerWidth + (buffer * 2);
      bgCanvas.height = window.innerHeight + (buffer * 2);
   
      render();
    }   
   
  }
   
   
  init();

  // Slide up the status thing
  $("#result_container").animate({
    bottom: 0
  }, 1000);



  




  
});

</script>
<!-- Background pattern -->
<canvas id="bgCanvas"></canvas>

<!-- MAIN IMAGE -->
<div id="start_img" style="background-image:url(/assets/<%= @question.local_url.downcase %>.jpg);"></div>


<div id="logo"><%= image_tag "earthy_corner_cutout.png" %></div>

<div id="status_bar">
  <strong>Playing as <span class="player_name"><%= @name %></span></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Round <%= @rounds %>, Question <%=@question_number%> of <%=@round_qs%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="restart_game">Restart Game</a>
</div>


<div id="result_container">
  <!-- USE THIS WITH THE RUBY VARIABLES -->


  <div id="header_correct" <%= "style=display:none" if @answer == false %>>
    <h2 style="color: #C0F074">Correct! The answer is <%= @question.location_title %>!</h2>
  </div>
  <div id="header_incorrect" <%= "style=display:none" if @answer == true %>>
    <h2 style="color: #FF4545">Sorry, the answer is <%= @question.location_title %></h2>
  </div>

  <p><%= @question.answer_description %>
  
  <p><%= form_tag(questions_ask_path, method: :post) do %>
      <%= hidden_field_tag(:name,value=@name) %>
      <%= submit_tag @submit_text %>
    <% end %>
</div>

  
<!-- Side gradients -->
<div id="gradient-left"></div>
<div id="gradient-right"></div>
<div id="gradient-bottom"></div>
